body, ul, li, h1, h2, a, {
  margin: 0;
  padding: 0;
  font-family: hev;
  background-color: #3a32e4;
  color: white; /* For text readability */
}
header{
  background-color: #3a32e4;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;}


body-bg{
  background-color: #3a32e4;
  color: white; /* For text readability */
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;}

